* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background: #e6e6e6;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 20px;
}

/* Container for the Audio player */
.player {
  position: relative;
  background: #ffffff;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
}

/* Show the album artwork, give it round corners */
.song__artwork-container {
  height: 250px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Make sure the album cover fits inside the container */
.song__artwork {
  width: 100%;
  height: auto;
}

/* Song time start, end and progress bar */
.song__time {
  position: absolute;
  top: 206px;
  width: 100%;
  overflow: hidden;
  background: rgba(0,0,0,0.8);
  padding: 15px 0;
}

.song__time-start,
.song__time-end {
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  width: 25%;
  float: left;
}

.song__time-progress-container {
  display: inline-block;
  float: left;
  width: 50%;
  padding: 5px;
}

.song__progress-bar {
  position: relative;
  background: #ffffff;
  height: 4px;
  width: 100%;
}

.song__progress-indicator {
  height: 4px;
  background: #28f1bb;
}


/* Container for the song name, artist and album */
.player-content {
  text-align: center;
  padding: 20px;
}

.song-title {
  font-size: 24px;
  margin-bottom: 12px;
}

.album-title,
.album-artist {
  font-size: 13px;
  color: #9d9d9d;
}

.album-title {
  margin-bottom: 6px;
}

/* Container for the player controls. Only Play and Pause right now* */
.player-controls {
  text-align: center;
  padding: 5px 0 20px;
}

.play-button {
  display: block;
  background: url("/images/btn-play.png") no-repeat;
  width: 37px;
  height: 44px;
  margin: 0 auto;
}

.play-pause {
  display: block;
  background: url("/images/btn-pause.png") no-repeat;
  width: 37px;
  height: 44px;
  margin: 0 auto;
}
