* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  background: #e6e6e6;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 20px;
}
/* Container for the Audio player */

.player {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 400px;
  background: #ffffff;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0in 0px 1.25pc 0.020833333in rgba(219, 219, 219, 1);
  -moz-box-shadow: 0in 0px 1.25pc 0.020833333in rgba(219, 219, 219, 1);
  box-shadow: 0in 0px 1.25pc 0.020833333in rgba(219, 219, 219, 1);
}
/* Show the album artwork, give it round corners */

.song__artwork-container {
  position: relative;
  min-height: 250px;
  max-height: 400px;
  overflow: hidden;
}
/* Make sure the album cover fits inside the container */

.song__artwork {
  width: 100%;
  height: auto;
}
/* Song time start, end and progress bar */

[class^='song__time'] {
  float: left;
}
.song__time {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
  padding: 15px 0;
}
.song__time-start,
.song__time-end {
  display: block;
  width: 25%;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
}
.song__time-progress-container {
  display: inline-block;
  width: 50%;
  padding: 5px;
}
.song__progress-bar {
  position: relative;
  background: #ffffff;
  height: 4px;
  width: 100%;
}
.song__progress-indicator {
  height: 4px;
  background: #B1B460;
}
/* Container for the song name, artist and album */

.player-content {
  text-align: center;
  padding: 20px;
}
.song-title {
  font-size: 24px;
  margin-bottom: 12px;
}
.album-title,
.album-artist {
  font-size: 13px;
  color: #9d9d9d;
}
.album-title {
  margin-bottom: 6px;
}
/* Container for the player controls. Only Play and Pause right now* */

.player-controls {
  display: block;
  position: relative;
  padding: 5px 0 20px;
  height: 64px;
}
.player-controls-frame {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  transform: translatex(-50%);
}
.play-button,
.play-next,
.play-pause,
.play-prev {
  display: inline-block;
  width: 37px;
  height: 44px;
  background-position: center;
  background-repeat: no-repeat;
}

.play-next {
  margin-left: 20px;
  background-image: url("/images/btn-fastforward.png");
}
.play-prev {
  margin-right: 20px;
  background-image: url("/images/btn-rewind.png");
}
.play-button {
  background-image: url("/images/btn-play.png");
}
.play-pause {
  background-image: url("/images/btn-pause.png");
}
@media all and (max-width: 480px) {
  .player {
    width: 100%;
  }
  .play-next {
    margin-left: 10px;
  }
  .play-prev {
    margin-right: 10px;
  }
}
